

#rates i{
	color: #e4c314;
}

.par{
	font-size: 12px;
}

.aa:hover{
	color: white;
}

a{
	color: black;
}
a:hover{
	color: black;
	text-decoration: none;
}
.titlee{
	font-weight: bold;
	font-size: 54px;
	text-transform: uppercase;
	margin-bottom: 8px;
	color: red;
}

.descrip{
	font-size: 18px;
	text-transform: capitalize;
	margin-bottom: 8px;
}

.nn li{
	display: inline-block;
}

.rate_label{
	margin: 50px 0 0 0;
}


#result_div{
	width:555px; 
	margin-left:220px;
}

#result_div li{ 
	margin-bottom:20px;
	list-style-type:none;
}

#result_div li a{
	text-decoration:none;
	display:block;
	text-align:left;
}

#result_div li a .title{
	font-weight:bold;
	font-size:18px;
	color:#5882FA;
}

#result_div li a .desc{
	color:#6E6E6E;
}

.feature-item i{
	font-size: 20px;
}

#res a{
	color: #777777;
}

form.amp-form-submit-error [submit-error] {
	color: red;
}

.feature-item{
	background: #edeff1;
}

.feature-item .title{
	color: #000000;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 20px 0;
}
.desc{
	color: #566573;
	font-size: 20px;
	text-transform: capitalize;
}
.keywords{
	color: #AAB7B8;
	font-size: 10px;
	font-style: italic;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.card {
  width: 1080px;
  height: 200px;
  background-color: #fff;
 /* background: linear-gradient(#b0fbf8  , #71a8da  );*/
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#01579B  , #01579B  ); /*top, bottom*/
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card.green .additional {
  background: linear-gradient( #f9f9f9, #adb1b5);
}


.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);*/
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #000000;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 850px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #000000;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #00000;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #000000;
  font-size: 1rem;
}

.card.green .additional .coords {
  color: #00000;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #000000;
}

.card.green .additional .stats {
  color: #000000;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 900px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

/*******************************************
  = RATING
*******************************************/

/* RATING - Form */
.rating-form {
	/*margin-top: 10px;*/
}

/* RATING - Form - Group */
.rating-form .form-group {
	position: relative;
	border: 0;
}

/* RATING - Form - Legend */
.rating-form .form-legend {
	display: none;
	margin: 0;
	padding: 0;
	font-size: 2px; font-size: 2rem;
	/*background: green;*/
}

/* RATING - Form - Item */
.rating-form .form-item {
	position: relative;
	margin: auto;
	width: 300px;
	text-align: center;
	direction: rtl;
	/*background: green;*/
}

.rating-form .form-legend + .form-item {
	/*padding-top: 10px;*/
}

.rating-form input[type='radio'] {
	position: absolute;
	left: -9999px;
}

/* RATING - Form - Label */
.rating-form label {
	display: inline-block;
	cursor: pointer;
}

.rating-form .rating-star {
	display: inline-block;
	position: relative;
}

/*	.rating-form input[type='radio'] + label:before {
	content: attr(data-value);
	position: absolute;
	right: 30px; top: 83px;
	font-size: 30px; font-size: 3rem;
	opacity: 0;
	direction: ltr;
	.transition();
}

.rating-form input[type='radio']:checked + label:before {
	right: 25px;
	opacity: 1;
}

.rating-form input[type='radio'] + label:after {
	content: "/ 5";
	position: absolute;
	right: 5px; top: 96px;
	font-size: 16px; font-size: 1.6rem;
	opacity: 0;
	direction: ltr;
	.transition();
}

.rating-form input[type='radio']:checked + label:after {
	opacity: 1;
}*/

.rating-form label .fa {
	font-size: 30px; font-size: 3rem;
	line-height: 60px;
	.transition();
}

.rating-form label .fa-star-o {

}

.rating-form label:hover .fa-star-o,
.rating-form label:focus .fa-star-o,
.rating-form label:hover ~ label .fa-star-o,
.rating-form label:focus ~ label .fa-star-o,
.rating-form input[type='radio']:checked ~ label .fa-star-o {
	opacity: 0;
}

.rating-form label .fa-star {
	position: absolute;
	left: 0; top: 0;
	opacity: 0;
}

.rating-form label:hover .fa-star,
.rating-form label:focus .fa-star,
.rating-form label:hover ~ label .fa-star,
.rating-form label:focus ~ label .fa-star,
.rating-form input[type='radio']:checked ~ label .fa-star {
	opacity: 1;
}

.rating-form input[type='radio']:checked ~ label .fa-star {
	color: gold;
}

.rating-form .ir {
	position: absolute;
	left: -9999px;
}

/* RATING - Form - Action */
.rating-form .form-action {
	opacity: 0;
	position: absolute;
	left: 5px; bottom: -40px;
	.transition();
}

.rating-form input[type='radio']:checked ~ .form-action {
	cursor: pointer;
	opacity: 1;
}

.rating-form .btn-reset {
	display: inline-block;
	margin: 0;
	padding: 4px 10px;
	border: 0;
	font-size: 10px; font-size: 1rem;
	background: #fff;
	color: #333;
	cursor: auto;
	border-radius: 5px;
	outline: 0;
	.transition();
}

.rating-form .btn-reset:hover,
.rating-form .btn-reset:focus {
	background: gold;
}

.rating-form input[type='radio']:checked ~ .form-action .btn-reset {
	cursor: pointer;
}

/* RATING - Form - Output */
.rating-form .form-output {
	display: none;
	position: absolute;
	right: 15px; bottom: -45px;
	font-size: 20px; font-size: 2rem;
	opacity: 0;
	.transition();
}

.no-js .rating-form .form-output {
	right: 5px;
	opacity: 1;
}

.rating-form input[type='radio']:checked ~ .form-output {
	right: 5px;
	opacity: 1;
}